body{
 background-color: rgb(51, 204, 204);
 }
 h1{
  font-family: "Times New Roman", Times, serif;
   text-align: center;
 }
img{
 margin: auto;
 text-align: center;
 right: 100px;
}
 h2{ 
 font-family: "Verdana", sans-serif;
   text-align: center;
 }
 p{
 font-family: "Arial", sans-serif;
   text-align: center;
 }
h2{
 font-family: "Verdana", sans-serif;
   text-align: center;
}
p{
 font-family: "Arial", sans-serif;
   text-align: center;
}
