 <link rel="stylesheet" type="text/css" href="style.css">
 body{
 background-color: rgb(255, 0, 0)
 }
 h1{
 font-family: Times New Roman
 }
 p{
 font-family: Georgia
 }
 h2{ 
 font-family: Cooper Black
 }
 p{
 font-family: Arial
 }
